<h1 class="text-4xl font-bold text-red-600">Tailwind check</h1>

<header class="bg-white shadow-sm">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <%= link_to "Cardly", root_path, class: "text-xl font-bold text-indigo-600" %>
      <div class="hidden sm:flex sm:items-center">
        <div class="flex space-x-8">
          <%= link_to "Features", "#", class: "px-3 text-blue-500 hover:text-blue-600" %>
          <%= link_to "How it Works", "#", class: "px-3 text-gray-500 hover:text-gray-700" %>
          <%= link_to "Blog", "#", class: "px-3 text-gray-500 hover:text-gray-700" %>
          <%= link_to "About", "#", class: "px-3 text-gray-500 hover:text-gray-700" %>
          <%= link_to "Pricing", "#", class: "px-3 text-gray-500 hover:text-gray-700" %>
        </div>
        <div class="flex items-center ml-8 space-x-4">
          <%= link_to "Sign In", new_user_session_path, class: "text-gray-500 hover:text-gray-700" %>
          <%= link_to "Sign Up", new_user_registration_path, class: "ml-4 bg-indigo-600 text-white px-4 py-2 rounded-lg hover:bg-indigo-700" %>
        </div>
      </div>
    </div>
  </nav>
</header> 